<p id="notice"><%= notice %></p>

<h1>Listing Addresses</h1>

<% if policy(@addresses).index? %>

<%= render partial: "admin_index" %> 


<% else %>

<%= render partial: "normal_user_index" %> 

<% end %>